{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="container container-fluid mt-5" style="max-width: 30rem; position: relative;">
    <img src="{% static 'img/fondo2_50.png'%}" alt="" style="width: 100%; position: absolute;">
    <div class="row" style="position: absolute; margin-top: 22rem; margin-left: 0.1rem;">

        <form action="/" method="post" id="form">
                
            {% csrf_token %}

            <!-- FIRSTNAME FORM-->
            <div class="form-group">
                <input
                    type="text"
                    name="first_name"
                    placeholder="Firstname"
                    id="firstnameField"
                    value="{{fieldValues.first_name}}"
                    class="form-control"
                    autocomplete="off"
                />
            </div>
            
            <!-- LASTNAME FORM -->
            <div class="form-group mt-2">
                <input 
                    type="text"
                    name="last_name"
                    placeholder="Lastname"
                    id="lastnameField"
                    value="{{fieldValues.last_name}}"
                    class="form-control"
                    autocomplete="off"
                />
            </div>

            <!-- MENU OPTIONS -->
            <div class="row mt-4 justify-content-center">
                <h6 class="text-center">Menu</h6>
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="menu" id="menu1" value="Sin Condicion">
                            <label class="form-check-label">No Condition</label>
                        </div>
    
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="menu" id="menu2" value="Vegetariano">
                            <label class="form-check-label">Vegetarian</label>
                        </div>
    
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="menu" id="menu3" value="Vegano">
                            <label class="form-check-label">Vegan</label>
                        </div>
    
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="menu" id="menu4" value="Celiaco">
                            <label class="form-check-label">Celiac</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="row m-5">
                <input type="submit" value="SUBMIT" class="btn btn-outline-dark" id="submitButton"/>
            </div>
        </form>
        <form action="/pass" method="post" id="passwordform">
            {% csrf_token %}
            <div class="form-group mt-3">
                <input
                    type="text"
                    name="password"
                    placeholder="Password"
                    id="passwordField"
                    value="{{fieldValues.password}}"
                    class="form-control form-control-sm"
                    autocomplete="off"
                />
            </div>

            <div class="row justify-content-center">
                <p class="text-muted text-center" style="font-size: small;">Password: xyzboda</p>
                <form action="">
                    <input type="submit" class="btn btn-outline-dark mt-3" id="downloadButton" value="DOWNLOAD EXCEL"/>
                </form>
            </div>
        </form>
    </div>
</div>
    <!-- SUCCESS MODAL MESSAGE -->
    <div class="modal fade" id="modalSuccess" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-dialog-centered" style="display: flex; align-items: flex-end;">
            <div class="modal-content">
                <div class="modal-header border-0 bg-success fg-light" id="modalSuccessMessage"></div>
            </div>
        </div>
    </div>

    
    <!-- ERROR MODAL MESSAGE -->
    <div class="modal fade" id="modalError" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-dialog-centered" style=" display: flex; align-items: flex-end;">
            <div class="modal-content">
                <div class="modal-header border-0 bg-danger fg-light" id="modalErrorMessage"></div>
            </div>
        </div>
    </div>
    


{% endblock content %}


{% block javascript %}

<script type="text/javascript" src="{% static 'js/firstname_lastname.js'%}"></script>
<script type="text/javascript" src="{% static 'js/submit.js'%}"></script>
<script type="text/javascript" src="{% static 'js/excel.js' %}"></script>

{% endblock javascript %}